.application-frame {
    gap: 20px;
    background: rgba(255, 255, 255, 0.15);
}

.application-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    grid-template-rows: repeat(2, 4fr);
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    padding: 50px;
}

.application-header h3 {
    padding-top: 15px;
    text-align: center;
    margin: 0;
    color: white;
}

.application-grid-item button {
    font-size: 16px;
    background-color: rgba(210, 187, 243, 0.75);
    position: relative;
    width: 300px;
    height: 220px;
    color: white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s; 
}

.application-grid-item button:hover {
    z-index: 999;

    background-color: rgba(210, 187, 243, 1);
    transform: scale(1.15); 
}

.application-grid-item button::before,
.application-grid-item button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background-color: rgba(24, 45, 88, 1);
}

.application-grid-item button::before {
    top: 6%; 
}

.application-grid-item button::after {
    bottom: 6%;
}
